<h1>Bonjour !</h1>
<br>
<p>Nous avons bien pris en compte votre inscription sur le site Mia-ou.</p>
<p>Veuillez confirmer votre adresse mail en cliquant sur le lien suivant : <br>
    <a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
<br></p>
<p>
    Mia-ou vous remercie !
</p>