{% extends 'base.html.twig' %}

{% block title %}Edit Commune{% endblock %}

{% block body %}
    <h1>Edit Commune</h1>

    {{ include('commune/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commune_index') }}">back to list</a>

    {{ include('commune/_delete_form.html.twig') }}
{% endblock %}
