{% extends 'base.html.twig' %}

{% block title %}Edition communes{% endblock %}

{% block body %}
    <section class="crud">
    <h1>Edition des Communes</h1>

    {{ include('commune/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commune_index') }}">back to list</a>

    {{ include('commune/_delete_form.html.twig') }}
    </section>
{% endblock %}
