{% extends 'base.html.twig' %}

{% block title %}Nouvelle commune{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle commune</h1>

    {{ include('commune/_form.html.twig') }}

    <a href="{{ path('commune_index') }}">back to list</a>
{% endblock %}
