{% extends 'base.html.twig' %}

{% block title %}Chat perdu{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>MIA...OU ? </h1>
    <hr>    
    <h2>Bienvenue dans la Cat Patrouille !</h2>
    <br>
    <p>Indiquez dans quelle commune vous cherchez un chat perdu...</p>
</div>
{{ form_start(form) }}
    {{ form_widget(form) }}       
    <input type="submit"  value="Validez">
{{ form_end(form) }}

{% endblock %}