<form method="post" action="{{ path('chat_delete', {'id': chat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chat.id) }}">
    <button class="btn">Delete</button>
</form>
