{% extends 'base.html.twig' %}

{% block title %}Edit Chat{% endblock %}

{% block body %}
    <h1>Edit Chat</h1>

    {{ include('chat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('chat_index') }}">back to list</a>

    {{ include('chat/_delete_form.html.twig') }}
{% endblock %}
