{% extends 'base.html.twig' %}

{% block title %}New Chat{% endblock %}

{% block body %}
    <h1>Create new Chat</h1>

    {{ include('chat/_form.html.twig') }}

    <a href="{{ path('chat_index') }}">back to list</a>
{% endblock %}
