.confirm {
    width: 70%;
    margin: 0 auto;

    .contact {
        width : 100%;
    }

    .button {
        width : 50%;
        margin: 10px auto;
    }

    .btn {
        width: 200px;
        margin: 0 auto;
    }

    div {
        text-align: center;
    }

    ul {
        margin-left: 50px;
        font-size: 1.2em;
    }

}