.confirm {

    .validate {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact {
        width : 65%;
    }

    .button {
        width : 35%;
    }

    .btn {
        width: 120px;
    }

}