.displaycats {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img {
        width: 100%;
        border-radius: 2em;
        border: 5px solid white;
        height: 250px;
        margin-bottom: 1em;
        object-fit: cover;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    .btn {
        width: 200px;
        margin: 0.2 auto;
    }

    .special {
        width: 350px;
        margin: 0.2 auto;
    }

    .biodata {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .catpicture {
        height: 100px;
        width: 100%;
        border-radius: 1em;
        margin: 5px auto 5px auto;
    }

    .card-body {
        height: 280px;
        text-align: center;
    }

}
