.register {
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        width: 300px;
    }
}