<section class="header">
    <div class="menu">
        <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('cgu') }}">CGU</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('message') }}">Contact</a>
        </li>
    </div>
    <div class="titre">
    <h1>MIA...OU ?</h1>
    </div>
</section>
<hr>

