<section class="header">
<div class="menu">
<ul class="nav nav-pills">
<li class="nav-item">
    <a class="nav-link active" href="#">Accueil</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="#">Signaler</a>
</li>
</div>
<div class="titre">
<h1>MIA...OU</h1>
</div>
</ul>
</section>
<hr>

