{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

<div class="example-wrapper">
     
    <h2>Conditions générales d'utilisation</h2>
    <br>
    <h3>Inscription sur le site</h3>
    <br>
    <p>En s'inscrivant sur ce site, vous vous engagez à ne pas diffuser d'informations erronées, concernant notamment les chats que vous inscrivez</p>
    <br>
    <h3>Usage du site</h3>
    <br>
    <p>Le site Miaou est uniquement dédié à l'inscription et à la localisation de chats. Toute inscription d'un autre animal entraînera l'exclusion de l'utilisateur</p>
    <br>
    <h3>Réclamation en cas d'exclusion</h3>
    <br>
    <p>En cas de non respect des conditions d'utilisation citées supra, l'utilisateur pourra prendre attacha auprès des administrateurs du site en utilisant le formulaire de contact ou bien auprès des services de répréssion des fraudes et de la concurrence (coordonnées non fournies sur ce site).</p>
</div>


{% endblock %}