{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>MIA...OU ? </h1>
    <hr>    
    <h2>Conditions générales d'utilisation</h2>
    <br>
    <h3>Inscription sur le site</h3>
    <br>
    
</div>


{% endblock %}