{% extends 'base.html.twig' %}

{% block title %}Edition Races{% endblock %}

{% block body %}
    <h1>Editions des Races</h1>

    {{ include('race/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('race_index') }}">back to list</a>

    {{ include('race/_delete_form.html.twig') }}
{% endblock %}
