{% extends 'base.html.twig' %}
{% block title %}Fausse route !{% endblock %}
{% block body %}
    <section class="error404">
        <h1>Hop hop hop !</h1>
        <br>
        <h2>Pas très prudent de vous aventurer ici...</h2>
        <br>
        <img class="image404" src="{{asset('build/images/furiouscat.jpg')}}" alt="chat vraiment furieux">
        <br>
        <br>
        <a href="{{ path('home') }}">Cliquez pour revenir en lieu sûr, sinon Mistigri pourrait bien vous dévorer !</a>.
    </section> 
{% endblock %}