{% extends 'base.html.twig' %}
{% block title %}Chat perdu{% endblock %}
{% block body %}
    <section class="lostandfound">
        <div class="example-wrapper">
            <h1>Cher {{ app.user.pseudo }}</h1>
            <h2>Nous sommes heureux que vous ayez retrouvé {{chat.nom}} !</h2>
        </div>
        <br>
        <div>
            <a href="{{ path('cat') }}"><button type="button" class="btn btn-primary">Revenir à l'accueil</button></a>
        </div>
    </section>
{% endblock %}
